@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
<div class="container contact_container">
    <div class="row">
        <div class="col">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li>Error</li>
                </ul>
            </div>

        </div>
    </div>

    <h1 class="text-danger">Error.</h1>
    <h2 class="text-danger">An error occurred while processing your request.</h2>

    
</div>
