@model ICollection<DesignerViewModel>
@{
    ViewData["Title"] = "Designers";
}

<div class="container contact_container">
    <div class="row">
        <div class="col">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li>Administrator</li>
                    <li class="active"><a asp-area="" asp-controller="Designer" asp-action="Index"><i class="fa fa-angle-right" aria-hidden="true"></i>Designers</a></li>
                </ul>
            </div>
        </div>
    </div>

    <h1 class="text-center">Designers</h1>
    <a asp-area="" asp-controller="Designer" asp-action="Create"><button class="btn btn-default">Create</button></a>
    <hr class="hr-2" />
    <table class="table w-75 mx-auto table-hover">
        <thead>
            <tr class="row">
                <th class="col-md-9">Full Name</th>
                <th class="col-md-3 text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var designer in Model)
            {
                <tr class="row">
                    <th class="col-md-9"><a asp-area="" asp-controller="Designer" asp-action="Details" asp-route-id="@designer.Id">@designer.Name</a></th>
                    <td class="col-md-3 text-center">
                        <a asp-area="" asp-controller="Designer" asp-action="Edit" asp-route-id="@designer.Id"><button class="btn btn-default">Edit</button></a>
                        <a asp-area="" asp-controller="Designer" asp-action="Delete" asp-route-id="@designer.Id"><button class="btn btn-default">Delete</button></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

