/RentABag.Web/RentABag.Models/bin
/RentABag.Web/RentACar.Data/bin
/RentABag.Web/RentABag.Web/bin
/RentABag.Web/RentABag.Models/obj/Debug
/RentABag.Web/RentABag.Models/bin/Debug
/RentABag.Web/RentACar.Data/obj/Debug
/RentABag.Web/RentACar.Data/bin/Debug
/RentABag.Web/RentABag.Web/obj/Debug
/RentABag.Web/RentABag.Web/bin/Debug
/RentABag.Web/RentABag.Web/obj
/RentABag.Web/RentACar.Data/obj
/RentABag.Web/RentABag.Models/obj
