@model CreateCategoryViewModel

@{
    ViewData["Title"] = "Create Category";
}

<div class="container contact_container">
    <div class="row">
        <div class="col">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li>Administrator</li>
                    <li class="active"><a asp-area="" asp-controller="Category" asp-action="Index"><i class="fa fa-angle-right" aria-hidden="true"></i>Categories</a></li>
                    <li class="active"><a asp-area="" asp-controller="Category" asp-action="Create"><i class="fa fa-angle-right" aria-hidden="true"></i>Create Category</a></li>
                </ul>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <section>
                <form method="post" asp-area="" asp-controller="Category" asp-action="Create">
                    <h4>Create a Category</h4>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description"></label>
                        <textarea asp-for="Description" class="form-control"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default">Create</button>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>