@model ShoppingCartViewModel

@using System.Globalization;

@{
    ViewData["Title"] = "Index";
}

<script src="/Scripts/jquery-1.4.4.min.js"
        type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        // Document.ready -> link up remove event handler
        $(".RemoveLink").click(function () {
            // Get the id from the link
            var recordToDelete = $(this).attr("data-id");
            if (recordToDelete != '') {
                // Perform the ajax post
                $.post("/ShoppingCart/RemoveFromCart", { "id": recordToDelete },
                    function (data) {
                        // Successful requests get here
                        // Update the page elements
                        if (data.ItemCount == 0) {
                            $('#row-' + data.DeleteId).fadeOut('slow');
                        } else {
                            $('#item-count-' + data.DeleteId).text(data.ItemCount);
                        }
                        $('#cart-total').text(data.CartTotal);
                        $('#update-message').text(data.Message);
                        $('#cart-status').text('Cart (' + data.CartCount + ')');
                    });
            }
        });
    });
</script>

<div class="container contact_container">
    <div class="row">
        <div class="col">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li class="active"><a asp-area="" asp-controller="Home" asp-action="Contact"><i class="fa fa-angle-right" aria-hidden="true"></i>Contact us</a></li>
                </ul>
            </div>

        </div>
    </div>

    <!-- Contact Us -->

    <div class="row">

        <div class="col">

            <h3>
                <em>Review</em> your cart:
            </h3>
            <div id="update-message">
            </div>
            <table class="table w-75 mx-auto table-hover">
                <thead>
                    <tr>
                        <th>
                            Bag Name
                        </th>
                        <th>
                            Price(per day)
                        </th>
                        <th>
                            Days
                        </th>
                        <th>
                            Rental Period
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.CartItems)
                    {
                        <tr id="row-@item.RecordId">
                            <td>
                                @Html.ActionLink(item.Bag.Name, "Details", "Bag", new { id = item.BagId, area = "Administrator" }, null)
                            </td>
                            <td>
                                $@item.Bag.NewPrice
                            </td>
                            <td>
                                @item.RentalDays
                            </td>
                            <td>
                                @(item.GetDate.ToString("d", CultureInfo.InvariantCulture) + " - " + item.ReturnDate.ToString("d", CultureInfo.InvariantCulture))
                            </td>
                            <td>
                                @Html.ActionLink("Remove from cart", "RemoveFromCart", "Cart", new { id = item.RecordId, area = "" })
                            </td>
                        </tr>
                    }
                    <tr>
                        <td>
                            Total
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td id="cart-total" class="align-items-right">
                            $@Model.CartTotal
                        </td>
                    </tr>
                </tbody>
            </table>
            <form method="post" asp-action="AddressAndPayment" asp-area="" asp-controller="Checkout">
                <label>Add a Discount code if you like:</label>
                <input name="code" type="text"/>
                <button type="submit" class="message_submit_btn trans_300">Checkout</button>
            </form>
        </div>
    </div>
</div>