@model Collection

@{
    ViewData["Title"] = "Collection Details";
}

<div class="container contact_container">
    <div class="row">
        <div class="col">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li>Administrator</li>
                    <li class="active"><a asp-area="" asp-controller="Collection" asp-action="Index"><i class="fa fa-angle-right" aria-hidden="true"></i>Collections</a></li>
                    <li class="active"><a asp-area="" asp-controller="Collection" asp-action="Details" asp-route-id="@Model.Id"><i class="fa fa-angle-right" aria-hidden="true"></i>Collection Details</a></li>
                </ul>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <section>
                <h4>Collection Details</h4>
                <hr />
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" disabled />
                </div>
                <div class="form-group">
                    <label asp-for="StartDate"></label>
                    <input asp-for="StartDate" type="date" class="form-control" disabled>
                </div>
                <div class="form-group">
                    <label asp-for="EndDate"></label>
                    <input asp-for="EndDate" type="date" class="form-control" disabled />
                </div>
                <div class="red_button shop_now_button mr-3"><a asp-area="" asp-controller="Collection" asp-action="Index">Back to List</a></div>
                @if (this.User.IsInRole("Administrator"))
                {
                    <div class="red_button shop_now_button mr-3"><a asp-area="" asp-controller="Collection" asp-action="Edit" asp-route-id="@Model.Id">Edit</a></div>
                    <div class="red_button shop_now_button mr-3"><a asp-area="" asp-controller="Collection" asp-action="Delete" asp-route-id="@Model.Id">Delete</a></div>
                }
            </section>
        </div>
    </div>
</div>
